<ion-view view-title="" align-title="left" class="center-position">

    <ion-content style="background: url(img/material-graphite.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Somos Global</h1>
            </div>
        </div>
        <!--div class="list">
            <ion-md-input placeholder="Usuario" highlight-color="balanced" type="text" ng-model="user.email"></ion-md-input>
            <ion-md-input placeholder="Clave" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input>
        </div>
        <div class="padding">
            <button class="button button-full button-positive ink" ng-click="loginUser(user);">Enviar</button>
            <button class="button button-full button-positive ink" ui-sref="app.register">Registrarse</button>
        </div-->
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-facebook button-positive " ng-click="fb();">Facebook</button>
        </div>
    </ion-content>
    
</ion-view>